<div class="nav">
    <h1>Dining@UMD</h1>
    <div class="tags">
        <a href="/" class="tag">Home</a>
        <a href="/menu" class="tag">Today's Menu</a>
        <a href="/food" class="tag">Nutrition</a>
        <a href="/poll" class="tag">Poll</a>
    </div>
</div>
<br>
<hr>
