<div id = "dataBody" value="0">
            <ul>
                <h1><span class = "spanFoodData" style = font-family: 'Abril Fatface', cursive;><span>>  </span>BEEF BURGER</span></h1>

                <img src="/media/beef_burger_calories.png" class = "imageAnimation"> <!--512/384-->
                                        <hr class = "foodDataDivider">
                <img src="/media/beef_burger_fat.png" class = "imageAnimation">
                                        <hr class = "foodDataDivider">
                <h2>
                <li>Calories:       <span class = "spanFoodData">233</span></li>
                                                                <hr class = "foodDataDivider">
                <li>Vegetarian:     <span class = "spanFoodData">no</span></li>
                                        <hr class = "foodDataDivider">
                <li>Vegan:          <span class = "spanFoodData">no</span></li>
                                        <hr class = "foodDataDivider">
                <li>Serving Size:   <span class = "spanFoodData">1 Burger</span></li>
                                        <hr class = "foodDataDivider">
                <li>Gluten:         <span class = "spanFoodData">No</span></li>
                                        <hr class = "foodDataDivider">
                <li>Protein:        <span class = "spanFoodData">15.1</span></li>
                                        <hr class = "foodDataDivider">
                <li>Carbohydrates:  <span class = "spanFoodData">0g</span></li>
                                        <hr class = "foodDataDivider">
                </h2>
            </ul>
            </div>
