
<div id = "homeBodyContent">
            <h1>Welcome to UMD Dining Services</h1>
            <br>
            <br>
            <h2>
              <p>- Press on Menu to see what is coming to UMD diners today!</p>
              <p>- Press on Nutrition to see the nutrition facts of a given item!</p>
              <p>- Press on Poll to enter your vote on what food comes to UMD's Menu.</p>
            </h2>
        </div>
