
   <form method="POST" action="/login">
		 <div class="input-field">
				 <label><h3>University ID:</h3></label>
				 <input type="text" id="umdUserIDInput" name="uid" size="50" placeholder="UID...">
		 </div>
		 <button type="submit" id="submitUMDInput">Log In</button>
	</form>
